*  { margin: 0;}  /* fix margins to at header and footer */

html{  /*footer to bottom of page*/
	position: relative; 
	/* height: auto; */
	min-height: 100%; 
	overflow-y: scroll;
}

body {
	background-color: #302b29; /*mörk grå, bakgrund till större del av sidan*/
}

 
h1,h2,h3,h4,p,a,li,ul, html{
font-family: arial, sans-serif;
text-decoration: none;
}

#nav{
	width: 100%;
	background-color: #2e2e2d;
	height: 30px;
	text-transform:uppercase;
	font-size: 10px;
	font-weight:bold;
	color: #bababa;
	border: rgba(112, 112, 112, .5);
	border-style: groove;
	border-top:1px;
	border-right:1px;
	border-left:1px;
	border-width: 2px;
}

#nav a, #nav a:visited{
	color: #bababa;
}

#nav a:hover{
	color: white;
}

#nav ul{ /*navigation bar in header*/
	width: 50%;
	text-align: center;
	list-style: none;
	margin: 0 0 0 22%;
	height: 30px;
}

#nav .image{ /*logotype in header*/
	width: 10%;
	margin: 5px 0 0 10%;
	float: left;
}

#nav ul li{ /*links in navigation bar in header*/
	margin: 10px 10px 0px 10px;
	display: inline-block;
}

#content{ 
	width: 100%;
	background-color: #302b29;
	height: 150px;
	font-size: 14px;
	color: #e8e8e8;
}
#content a, #content a:visited{
	color: #e8e8e8;
}

#content a:hover{
	color: white;
}

#content ul{ /*navigation in content */
	text-align: center;
	width: 50%;
	padding: 50px 0px 5px 0px;
	list-style: none;
	float: left;
	margin: 0 25%;
}

#content ul li{ /*links in navigation in content */
	margin: 0px 10px;
	display: inline;
}

#content hr{ /*line under links*/
	margin: 0 auto;
}

#content .hr1{ /*black line under llinks*/
	border-color: black;
	opacity:0.44;
	width: 340px;
}

#content .hr2{ /* white line under llinks*/
	opacity:0.2;
	width: 340px;
}

#sub{
	background-color: #302b29;
	width: 100%;
	overflow: auto;
}

.uploadform form, .downloadform form { /* center the upload and download area*/
	margin: 0 auto;
	width: 300px;
}

.uploadform .upload {  /* choose files to upload area */
	width: 250px;
	color: #c3c3c3;
	font-size: 18px;
	padding: 0px 0px 40px 25px;	
}

.uploadform input{
	color: gray; 
	width:150px;
	padding: 0 5px;
}
.uploadform #group, .uploadform #date{
	padding: 0px 0px 10px 0;
}




.uploadform label {
	font-size: 18px;
	color: #c3c3c3;
	display: inline-block; 
	width: 100px;
}

.row{ /*each row with uploaded images*/
	clear: both;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}

.row .imgform{ /*each image and forms */
	margin: 50px 20px 50px 20px;
	float:left;
	width: 300px;
}

.row label{ 
	font-size: 18px;
	color: #c3c3c3;
	display: inline-block; 
	width: 120px;
	padding: 5px 0 0 0;
}

.row .image{
	width: 100%;
}

.row img{ /*the image*/
	margin-left: 140px;
	padding-bottom: 10px;
	text-align: center;
	height: 100px;
	width: auto;
}

.row input {
	color: gray; 
	width:150px;
	padding: 0 5px;
	vertical-align: middle;
}

#sub form #buttoninfo{ /* Area for 'Gå vidare'-button on 'Fyll i info'*/
margin: 0 auto;
text-align: center;
width: 50%;
padding: 40px 0px 80px 0px;
}

#button {
	padding: 20px 0px 40px 50px;	 
}

#sub .styledbutton {
	width: 200px;
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-size:16px;
	/* rundade hörn
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	*/
	border:1px solid #459A00
}

#content .editList{/* 'ÄNDRA BEFINTLIG VÄRLD' */
	margin: 0 auto;
	width: 100%;
}

.editList h2{
	text-align: center;
	padding-bottom: 10px;
}

.editList .editObject {
	width: 25%;
	margin: 0 auto;
	text-align: left;
	padding: 3px 0 0 15%;
}

.editList .editObject .date{
	font-size: 12px;
	color: #cc9;
	margin-right: 10px;
}

.editList .editObject .group{	
	display: inline-block;
	margin-left: 10px;
}

#contentAbout{
	color: white;
	font-size: 12px;
	margin: 0 auto;
	padding-top: 30px;
	width: 50%
}

#contentAbout p{
margin-top: 10px;
}

#footer{
	width: 100%;
	background-color: #2e2e2d;
	height: 30px;
	text-align: center;
	border: rgba(112, 112, 112, .5);
	border-style: groove ;
	border-bottom:1px;
	border-right:1px;
	border-left:1px;
	border-width: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
}

#footer p{
	padding: 5px 0 0px 0;
	color: #777;
}
